{
  "openapi": "3.0.1",
  "info": {
    "title": "Corezoid API",
    "description": "# Introduction\nWelcome to the Corezoid API documentation. \nHere you can learn everything you need to know about our API and how to interact with Corezoid.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "x-logo": {
      "url": "https://account.corezoid.com/static/corezoid.svg",
      "altText": "Corezoid"
    },
    "contact": {
      "email": "support@corezoid.com"
    },
    "version": "2.0"
  },
  "externalDocs": {
    "description": "User Guide",
    "url": "https://doc.corezoid.com/docs"
  },
  "servers": [
    {
      "url": "https://api.corezoid.com/"
    }
  ],
  "x-tagGroups": [
    {
      "name": "json",
      "tags": [
        "alias",
        "aliases",
        "api_code",
        "api_key",
        "bot_wizzard",
        "callback_hash",
        "channel",
        "chart",
        "commit",
        "commits",
        "company_users",
        "company",
        "conf",
        "conv_auth",
        "conv_params",
        "conv",
        "convs",
        "dashboard",
        "dashboards",
        "env_var",
        "folder_branch",
        "folder",
        "git_call",
        "global_counters",
        "group",
        "history",
        "instance",
        "invite",
        "node",
        "nodes",
        "obj_scheme",
        "object",
        "objs",
        "owner",
        "path_to_folder",
        "project",
        "projects",
        "stage",
        "stat",
        "statistics",
        "sys_stat",
        "task_history",
        "task",
        "upload",
        "used_traff",
        "user_status",
        "user",
        "version",
        "versions"
      ]
    },
    {
      "name": "upload",
      "tags": [
        "obj_scheme(upload)",
        "version(upload)",
        "task(upload)",
        "upload_info"
      ]
    },
    {
      "name": "download",
      "tags": [
        "obj_scheme(download)",
        "node(download)"
      ]
    },
    {
      "name": "compare",
      "tags": [
        "obj_scheme(compare)"
      ]
    },
    {
      "name": "merge",
      "tags": [
        "obj_scheme(merge)"
      ]
    },
    {
      "name": "copy",
      "tags": [
        "obj_copy"
      ]
    }
  ],
  "paths": {
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_1}/{SIGNATURE}": {
      "post": {
        "tags": [
          "alias"
        ],
        "summary": "json",
        "operationId": "alias",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<h3>Create</h3> Method for creating an alias - an object that replaces a numeric identifier with a character identifier. You need to perform the Link Alias operation after performing the Create Alias operation for creating an alias and linking it to an object (Process / State Diagram / Dashboard).<br> <h3>Modify</h3> Method for updating alias params.<br> <h3>Show</h3> Method for getting alias information.<br> <h3>Delete</h3> Method for moving an alias to Trash (switch the alias status to Deleted).<br> <h3>Favorite</h3> Method for adding an alias to the Favorites list or deleting it from the Favorites list.<br> <h3>Link</h3> Method for linking an alias to a Process or unlinking it from a Process (delete the link).<br> <h3>Upsert</h3> Method for creating and updating an alias (if it already exists).<br> <h3>Destroy</h3> Method for deleting an alias (full deletion from the Trash).<br> Note: Front-end does not use this method.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via Corezoid API. This parameter stores JSON objects with operations.",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/alias-create-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-modify-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-show-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-delete-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-favorite-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-link-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-upsert-request"
                        },
                        {
                          "$ref": "#/components/schemas/alias-destroy-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "create": "#/components/schemas/create-request-10",
                          "modify": "#/components/schemas/modify-request-9",
                          "show": "#/components/schemas/show-request-8",
                          "delete": "#/components/schemas/delete-request-9",
                          "favorite": "#/components/schemas/favorite-request-4",
                          "link": "#/components/schemas/link-request-5",
                          "upsert": "#/components/schemas/upsert-request",
                          "destroy": "#/components/schemas/destroy-request-5"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "create": {
                  "summary": "create",
                  "value": {
                    "ops": [
                      {
                        "obj": "alias",
                        "title": "test1",
                        "short_name": "test1",
                        "description": "test alias",
                        "company_id": "i848211059",
                        "stage_id": 371951,
                        "project_id": 371949,
                        "type": "create"
                      }
                    ]
                  }
                },
                "modify": {
                  "summary": "modify",
                  "value": {
                    "ops": [
                      {
                        "obj": "alias",
                        "title": "test1",
                        "short_name": "test1",
                        "description": "test alias.",
                        "company_id": "i848211059",
                        "type": "modify",
                        "obj_id": 52678
                      }
                    ]
                  }
                },
                "show": {
                  "summary": "show",
                  "value": {
                    "ops": [
                      {
                        "type": "show",
                        "obj": "alias",
                        "obj_id": 52678,
                        "company_id": "i848211059"
                      }
                    ]
                  }
                },
                "delete": {
                  "summary": "delete",
                  "value": {
                    "ops": [
                      {
                        "type": "delete",
                        "obj": "alias",
                        "obj_id": 53403,
                        "company_id": "i848211059"
                      }
                    ]
                  }
                },
                "favorite": {
                  "summary": "favorite",
                  "value": {
                    "ops": [
                      {
                        "type": "favorite",
                        "obj": "alias",
                        "company_id": "i848211059",
                        "obj_id": 52703,
                        "favorite": true
                      }
                    ]
                  }
                },
                "link": {
                  "summary": "link",
                  "value": {
                    "ops": [
                      {
                        "link": true,
                        "obj_id": 52678,
                        "obj_to_id": 1000853,
                        "obj_to_type": "conv",
                        "type": "link",
                        "obj": "alias",
                        "company_id": "i848211059"
                      }
                    ]
                  }
                },
                "upsert": {
                  "summary": "upsert",
                  "value": {
                    "ops": [
                      {
                        "type": "upsert",
                        "obj": "alias",
                        "obj_id": 29517,
                        "title": "First Alias",
                        "description": "First Alias",
                        "short_name": "alias-1",
                        "company_id": "i493107423"
                      }
                    ]
                  }
                },
                "destroy": {
                  "summary": "destroy",
                  "value": {
                    "ops": [
                      {
                        "type": "destroy",
                        "obj": "alias",
                        "obj_id": 53547,
                        "company_id": "i848211059"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/alias-create-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-modify-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-show-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-delete-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-favorite-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-link-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-upsert-response"
                          },
                          {
                            "$ref": "#/components/schemas/alias-destroy-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (create)": "#/components/schemas/create-response-10",
                            "ok (modify)": "#/components/schemas/modify-response-9",
                            "ok (show)": "#/components/schemas/show-response-9",
                            "ok (delete)": "#/components/schemas/delete-response-9",
                            "ok (favorite)": "#/components/schemas/favorite-response-4",
                            "ok (link)": "#/components/schemas/link-response-5",
                            "ok (upsert)": "#/components/schemas/upsert-response",
                            "ok (destroy)": "#/components/schemas/destroy-response-5",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "create": {
                    "summary": "create",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "obj_id": 52678,
                          "proc": "ok",
                          "obj": "alias"
                        }
                      ]
                    }
                  },
                  "modify": {
                    "summary": "modify",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "alias",
                          "obj_id": 52678
                        }
                      ]
                    }
                  },
                  "show": {
                    "summary": "show",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "alias",
                          "is_favorite": false,
                          "obj_to_title": "test01",
                          "is_owner": false,
                          "owner_id": 27074,
                          "owner_name": "First_Name Last_Name",
                          "owner_login": "owner_email@corezoid.com",
                          "obj_id": 52678,
                          "obj_type": "alias",
                          "title": "test1",
                          "description": "test alias.",
                          "short_name": "test1",
                          "company_id": "i848211059",
                          "project_id": 371949,
                          "stage_id": 371951,
                          "project_title": "test",
                          "project_short_name": "test",
                          "stage_title": "develop",
                          "stage_short_name": "tedevelopst",
                          "obj_to_id": 1000853,
                          "obj_to_type": "conv",
                          "create_time": 1666598950,
                          "change_time": 1667262485,
                          "uuid": "d6cb5bfb-d97b-4d34-940a-13adfa02069a",
                          "privs": [
                            {
                              "type": "view",
                              "list_obj": [
                                "all"
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "delete": {
                    "summary": "delete",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "alias",
                          "obj_id": 53403
                        }
                      ]
                    }
                  },
                  "favorite": {
                    "summary": "favorite",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj_id": 52703,
                          "obj": "alias"
                        }
                      ]
                    }
                  },
                  "link": {
                    "summary": "link",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "alias",
                          "obj_id": 52678
                        }
                      ]
                    }
                  },
                  "upsert": {
                    "summary": "upsert",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "alias",
                          "obj_id": 29517
                        }
                      ]
                    }
                  },
                  "destroy": {
                    "summary": "destroy",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "alias",
                          "obj_id": 53547
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_2}/{SIGNATURE}": {
      "post": {
        "tags": [
          "aliases"
        ],
        "summary": "json",
        "operationId": "aliases",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<h3>List</h3> Method for getting information about aliases.</br>",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via Corezoid API. This parameter stores JSON objects with operations.",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/aliases-list-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "list": "#/components/schemas/list-request-12"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "list": {
                  "summary": "list",
                  "value": {
                    "ops": [
                      {
                        "sort": "date",
                        "order": "asc",
                        "company_id": "i848211059",
                        "project_id": 371949,
                        "stage_id": 371951,
                        "obj": "aliases",
                        "type": "list",
                        "location": "stage",
                        "id": "i848211059"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/aliases-list-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (list)": "#/components/schemas/list-response-12",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "list": {
                    "summary": "list",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "i848211059",
                          "proc": "ok",
                          "list": [
                            {
                              "is_favorite": false,
                              "obj_to_title": "test1",
                              "is_owner": true,
                              "owner_id": 27074,
                              "owner_name": "First_Name Last_Name",
                              "owner_login": "owner_email@corezoid.com",
                              "obj_id": 52678,
                              "obj_type": "alias",
                              "title": "test1",
                              "description": "test alias",
                              "short_name": "test1",
                              "company_id": "i848211059",
                              "project_id": 371949,
                              "project_short_name": "Proj_1",
                              "project_title": "Project_1",
                              "stage_id": 371951,
                              "stage_short_name": "develop",
                              "stage_title": "develop",
                              "obj_to_id": 1000853,
                              "obj_to_type": "conv",
                              "create_time": 1666598950,
                              "change_time": 1666598950,
                              "uuid": "d6cb5bfb-d97b-4d34-940a-13adfa02069a",
                              "privs": [
                                {
                                  "type": "create",
                                  "list_obj": [
                                    "all"
                                  ]
                                },
                                {
                                  "type": "view",
                                  "list_obj": [
                                    "all"
                                  ]
                                },
                                {
                                  "type": "modify",
                                  "list_obj": [
                                    "all"
                                  ]
                                },
                                {
                                  "type": "delete",
                                  "list_obj": [
                                    "all"
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_4}/{SIGNATURE}": {
      "post": {
        "tags": [
          "api_code"
        ],
        "summary": "json",
        "operationId": "apicode",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<b>Compile</b><br> Method for compiling basic settings of a Code node<br><br> <b>Get</b><br> Method for showing basic settings of a Code node<br><br> <b>load</b><br> Method for loading code to a server<br><br>",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via the Corezoid API. This parameter stores JSON objects with operations",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/api_code-compile-request"
                        },
                        {
                          "$ref": "#/components/schemas/api_code-get-request"
                        },
                        {
                          "$ref": "#/components/schemas/api_code-load-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "compile": "#/components/schemas/compile-request-2",
                          "get": "#/components/schemas/get-request-8",
                          "load": "#/components/schemas/load-request-2"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "compile": {
                  "summary": "compile",
                  "value": {
                    "ops": [
                      {
                        "obj": "api_code",
                        "type": "compile",
                        "conv_id": 1123157,
                        "node_id": "6405a1eb56167c487b009654",
                        "lang": "js",
                        "src": "var one = 1;\nvar two = 2;"
                      }
                    ]
                  }
                },
                "get": {
                  "summary": "get",
                  "value": {
                    "ops": [
                      {
                        "type": "get",
                        "obj": "api_code",
                        "conv_id": 1123157,
                        "node_id": "6405a1eb56167c487b009654",
                        "env": "production"
                      }
                    ]
                  }
                },
                "load": {
                  "summary": "load",
                  "value": {
                    "ops": [
                      {
                        "type": "load",
                        "obj": "api_code",
                        "conv_id": 1123157,
                        "node_id": "6405a1eb56167c487b009654",
                        "lang": "js",
                        "src": "var one = 1;\nvar two = 2;",
                        "env": "sandbox"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/api_code-compile-response"
                          },
                          {
                            "$ref": "#/components/schemas/api_code-get-response"
                          },
                          {
                            "$ref": "#/components/schemas/api_code-load-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (compile)": "#/components/schemas/compile-response-2",
                            "ok (get)": "#/components/schemas/get-response-8",
                            "ok (load)": "#/components/schemas/load-response-2",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "compile": {
                    "summary": "compile",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "api_code",
                          "description": ""
                        }
                      ]
                    }
                  },
                  "get": {
                    "summary": "get",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "api_code",
                          "lang": "js",
                          "src": "var one = 1;"
                        }
                      ]
                    }
                  },
                  "load": {
                    "summary": "load",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "api_code",
                          "description": ""
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_5}/{SIGNATURE}": {
      "post": {
        "tags": [
          "api_key"
        ],
        "summary": "json",
        "operationId": "apiKey",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Method for showing which API Keys have access to a process",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via Corezoid API. This parameter stores JSON objects with operations",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/api_key-show-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "show": "#/components/schemas/show-request-16"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "show": {
                  "summary": "show",
                  "value": {
                    "ops": [
                      {
                        "obj": "api_key",
                        "type": "show",
                        "obj_id": 1020531
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/api_key-show-response"
                          },
                          {
                            "$ref": "#/components/schemas/response-error-common"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (show)": "#/components/schemas/show-response-17",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "show": {
                    "summary": "show",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "title": "first_2",
                          "login": 29595,
                          "key": "wB12nFmNBI0oOSMU3HklYOyZw9mYigezFfDnz1xCDfKwqwFN",
                          "obj_id": 28288
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_6}/{SIGNATURE}": {
      "post": {
        "tags": [
          "bot_wizzard"
        ],
        "summary": "json",
        "operationId": "bot_wizzard",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<h3>Create</h3> Method for creating a new bot via Communications Orchestrator</br> <h3>Modify</h3> Method for updating a bot via Communications Orchestrator</br> <h3>Check</h3> Method for checking a bot via Communications Orchestrator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via Corezoid API. This parameter stores JSON objects with operations",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/bot_wizzard-create-request"
                        },
                        {
                          "$ref": "#/components/schemas/bot_wizzard-modify-request"
                        },
                        {
                          "$ref": "#/components/schemas/bot_wizzard-check-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "create": "#/components/schemas/create-request-21",
                          "modify": "#/components/schemas/modify-request-17",
                          "check": "#/components/schemas/check-request-3"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "create": {
                  "summary": "create",
                  "value": {
                    "ops": [
                      {
                        "messengers": [
                          {
                            "channel": "telegram",
                            "key": "test"
                          }
                        ],
                        "company_id": "i702619617",
                        "project_id": 372753,
                        "stage_id": 372755,
                        "lang": "en",
                        "version": 2,
                        "type": "create",
                        "obj": "bot_wizzard",
                        "async": true
                      }
                    ]
                  }
                },
                "modify": {
                  "summary": "modify",
                  "value": {
                    "ops": [
                      {
                        "type": "modify",
                        "obj": "bot_wizzard",
                        "obj_id": "658a87c056167c03140034c8",
                        "company_id": "20c4e4a1-0f0c-4c32-a6f2-ee12b5fa5d80"
                      }
                    ]
                  }
                },
                "check": {
                  "summary": "check",
                  "value": {
                    "ops": [
                      {
                        "obj_id": "63add73c094bab791f001b44",
                        "obj": "bot_wizzard",
                        "type": "check"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/bot_wizzard-create-response"
                          },
                          {
                            "$ref": "#/components/schemas/bot_wizzard-modify-response"
                          },
                          {
                            "$ref": "#/components/schemas/bot_wizzard-check-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (create)": "#/components/schemas/create-response-21",
                            "ok (modify)": "#/components/schemas/modify-response-17",
                            "ok (check)": "#/components/schemas/check-response-3",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "create-async": {
                    "summary": "create (async:true)",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "bot_wizzard",
                          "result": "queued",
                          "obj_id": "66c6e9e1ae906a59ac002889"
                        }
                      ]
                    }
                  },
                  "create": {
                    "summary": "create (async:false)",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "bot_wizzard",
                          "dashboard_url": "",
                          "folder_url": "https://admin-pre.corezoid.com/folder/606644",
                          "webhooks_url": [
                            {
                              "channel": "fbmessenger",
                              "url": ""
                            },
                            {
                              "channel": "skype",
                              "url": ""
                            }
                          ],
                          "result": "ok",
                          "description": "undefined"
                        }
                      ]
                    }
                  },
                  "modify": {
                    "summary": "modify",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "bot_wizzard"
                        }
                      ]
                    }
                  },
                  "check": {
                    "summary": "check",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "bot_wizzard",
                          "dashboard_url": "",
                          "folder_url": "https://admin-pre.corezoid.com/folder/795598",
                          "webhooks_url": [
                            {
                              "channel": "fbmessenger",
                              "url": ""
                            },
                            {
                              "channel": "skype",
                              "url": ""
                            }
                          ],
                          "result": "ok",
                          "description": "undefined"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_7}/{SIGNATURE}": {
      "post": {
        "tags": [
          "callback_hash"
        ],
        "summary": "json",
        "operationId": "callback_hash",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<b>Create</b><br> Method for creating a Direct URL for task upload to procesess and state diagrams via an alias<br><br> <b>Modify</b><br> Method for re-enabling a Direct URL for task upload to procesess and state diagrams<br><br> <b>Get</b><br> Method for showing a Direct URL for task upload to procesess or state diagrams.<br><br> <b>Delete</b><br> Method for disabling a Direct URL for task upload to procesess and state diagrams<br><br>",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via the Corezoid API. This parameter stores JSON objects with operations",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/callback_hash-create-request"
                        },
                        {
                          "$ref": "#/components/schemas/callback_hash-modify-request"
                        },
                        {
                          "$ref": "#/components/schemas/callback_hash-get-request"
                        },
                        {
                          "$ref": "#/components/schemas/callback_hash-delete-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "create": "#/components/schemas/create-request-18",
                          "modify": "#/components/schemas/modify-request-15",
                          "get": "#/components/schemas/get-request-3",
                          "delete": "#/components/schemas/delete-request-15"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "create": {
                  "summary": "create",
                  "value": {
                    "ops": [
                      {
                        "type": "create",
                        "obj": "callback_hash",
                        "alias_id": 53788,
                        "company_id": "i702619617"
                      }
                    ]
                  }
                },
                "modify": {
                  "summary": "modify",
                  "value": {
                    "ops": [
                      {
                        "type": "modify",
                        "obj": "callback_hash",
                        "conv_id": 1004237
                      }
                    ]
                  }
                },
                "modifyAlias": {
                  "summary": "modify (alias)",
                  "value": {
                    "ops": [
                      {
                        "type": "modify",
                        "obj": "callback_hash",
                        "alias_id": 53546,
                        "obj_type": "alias",
                        "company_id": "i702619617"
                      }
                    ]
                  }
                },
                "get": {
                  "summary": "get",
                  "value": {
                    "ops": [
                      {
                        "conv_id": 1004237,
                        "type": "get",
                        "obj": "callback_hash",
                        "company_id": "i702619617"
                      }
                    ]
                  }
                },
                "getAlias": {
                  "summary": "get (alias)",
                  "value": {
                    "ops": [
                      {
                        "alias_id": 53789,
                        "obj_type": "alias",
                        "type": "get",
                        "obj": "callback_hash",
                        "company_id": "i702619617"
                      }
                    ]
                  }
                },
                "delete": {
                  "summary": "delete",
                  "value": {
                    "ops": [
                      {
                        "type": "delete",
                        "obj": "callback_hash",
                        "conv_id": 1004237
                      }
                    ]
                  }
                },
                "deleteAlias": {
                  "summary": "delete (alias)",
                  "value": {
                    "ops": [
                      {
                        "type": "delete",
                        "obj": "callback_hash",
                        "alias_id": 53546,
                        "obj_type": "alias",
                        "company_id": "i702619617"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/callback_hash-create-response"
                          },
                          {
                            "$ref": "#/components/schemas/callback_hash-modify-response"
                          },
                          {
                            "$ref": "#/components/schemas/callback_hash-get-response"
                          },
                          {
                            "$ref": "#/components/schemas/callback_hash-delete-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (create)": "#/components/schemas/create-response-18",
                            "ok (modify)": "#/components/schemas/modify-response-15",
                            "ok (get)": "#/components/schemas/get-response-3",
                            "ok (delete)": "#/components/schemas/delete-response-15",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "create": {
                    "summary": "create",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "type": "create",
                          "callback_hash": "08df834bbebc682c30df165967af119606fb6a90"
                        }
                      ]
                    }
                  },
                  "modify": {
                    "summary": "modify",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "conv_id": 1004237,
                          "callback_hash": "813b6127ab22584d28e9032612e75f09a2dd71e9"
                        }
                      ]
                    }
                  },
                  "modifyAlias": {
                    "summary": "modify (alias)",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "type": "create",
                          "callback_hash": "6336acee43c1dad05ae91a1e84f33b68e83972f2"
                        }
                      ]
                    }
                  },
                  "get": {
                    "summary": "get",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "callback_hash": "0cf3c1e9eee96859dbd68bd7fcc22ed66bee7531"
                        }
                      ]
                    }
                  },
                  "delete": {
                    "summary": "delete",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "conv_id": 1004237
                        }
                      ]
                    }
                  },
                  "deleteAlias": {
                    "summary": "delete (alias)",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "type": "delete",
                          "obj": "alias_callback_hash",
                          "proc": "ok"
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_8}/{SIGNATURE}": {
      "post": {
        "tags": [
          "channel"
        ],
        "summary": "json",
        "operationId": "channel",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<h3>Create</h3> Method for creating a new token to connect a webhook to a process</br> <h3>Modify</h3> Method for updating a token for connecting the webhook to the process</br>",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via Corezoid API. This parameter stores JSON objects with operations",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/channel-create-request"
                        },
                        {
                          "$ref": "#/components/schemas/channel-modify-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "create": "#/components/schemas/create-request-22",
                          "modify": "#/components/schemas/modify-request-18"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "create": {
                  "summary": "create",
                  "value": {
                    "ops": [
                      {
                        "obj_type": "viber",
                        "env": "front",
                        "conv_id": 1324888,
                        "folder_id": 520385,
                        "company_id": "i178661175",
                        "token": "test",
                        "type": "create",
                        "obj": "channel"
                      }
                    ]
                  }
                },
                "modify": {
                  "summary": "modify",
                  "value": {
                    "ops": [
                      {
                        "obj_type": "telegram",
                        "env": "front",
                        "token": "1041341718:AAHDE55An5dXWNbXpOhzSfHgczRS7UlUbCg",
                        "obj_id": "63bc1cd7094bab0422001d6b",
                        "callback_hash": "bcbc26389384009c920f0cf9ecaadf7ba2427694",
                        "type": "modify",
                        "obj": "channel",
                        "result": "error",
                        "description": "test"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/channel-create-response"
                          },
                          {
                            "$ref": "#/components/schemas/channel-modify-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (create)": "#/components/schemas/create-response-22",
                            "ok (modify)": "#/components/schemas/modify-response-18",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "create": {
                    "summary": "create",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "channel",
                          "obj_type": "viber"
                        }
                      ]
                    }
                  },
                  "modify": {
                    "summary": "modify",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "channel"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_9}/{SIGNATURE}": {
      "post": {
        "tags": [
          "chart"
        ],
        "summary": "json",
        "operationId": "chart",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<b>Create</b><br> Method for creating a Chart<br><br> <b>Modify</b><br> Method for adding and changing Charts on Dashboards<br><br> <b>Get</b><br> Method for getting Chart settings for a Dashboard<br><br> <b>Delete</b><br> Method for deleting a chart<br><br>",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via the Corezoid API. This parameter stores JSON objects with operations",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/chart-create-request"
                        },
                        {
                          "$ref": "#/components/schemas/chart-modify-request"
                        },
                        {
                          "$ref": "#/components/schemas/chart-get-request"
                        },
                        {
                          "$ref": "#/components/schemas/chart-delete-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "create": "#/components/schemas/create-request-19",
                          "modify": "#/components/schemas/modify-request-16",
                          "get": "#/components/schemas/get-request-4",
                          "delete": "#/components/schemas/delete-request-16"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "create": {
                  "summary": "create",
                  "value": {
                    "ops": [
                      {
                        "company_id": "i702619617",
                        "name": "New Chart",
                        "description": "Chart description",
                        "dashboard_id": 78155,
                        "type": "create",
                        "obj": "chart",
                        "sort": true,
                        "series": [],
                        "obj_type": "table"
                      }
                    ]
                  }
                },
                "modify": {
                  "summary": "modify",
                  "value": {
                    "ops": [
                      {
                        "type": "modify",
                        "obj": "chart",
                        "dashboard_id": 78155,
                        "obj_id": "63a4142b094bab5de7006c4d",
                        "name": "New Chart",
                        "description": "",
                        "obj_type": "table",
                        "series": [
                          {
                            "conv_id": 1004237,
                            "node_id": "635febcb56167c5cce007e42",
                            "title": "Start",
                            "type_icon": "start",
                            "type_title": "Start node",
                            "type": "node"
                          }
                        ],
                        "company_id": "i702619617"
                      }
                    ]
                  }
                },
                "get": {
                  "summary": "get",
                  "value": {
                    "ops": [
                      {
                        "type": "get",
                        "obj": "chart",
                        "company_id": "i702619617",
                        "dashboard_id": 78155,
                        "obj_id": "63a4142b094bab5de7006c4d"
                      }
                    ]
                  }
                },
                "delete": {
                  "summary": "delete",
                  "value": {
                    "ops": [
                      {
                        "type": "delete",
                        "obj": "chart",
                        "dashboard_id": 78155,
                        "obj_id": "63a4142b094bab5de7006c4d",
                        "company_id": "i702619617"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/chart-create-response"
                          },
                          {
                            "$ref": "#/components/schemas/chart-modify-response"
                          },
                          {
                            "$ref": "#/components/schemas/chart-get-response"
                          },
                          {
                            "$ref": "#/components/schemas/chart-delete-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (create)": "#/components/schemas/create-response-19",
                            "ok (modify)": "#/components/schemas/modify-response-16",
                            "ok (get)": "#/components/schemas/get-response-4",
                            "ok (delete)": "#/components/schemas/delete-response-16",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "create": {
                    "summary": "create",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "type": "create",
                          "obj": "chart",
                          "dashboard_id": 78155,
                          "obj_id": "63a32fd9094bab5de700595c"
                        }
                      ]
                    }
                  },
                  "modify": {
                    "summary": "modify",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "chart",
                          "chart_id": "63a4142b094bab5de7006c4d",
                          "obj_id": 78155
                        }
                      ]
                    }
                  },
                  "get": {
                    "summary": "get",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "name": "New Chart",
                          "description": "",
                          "obj_type": "table",
                          "series": [],
                          "obj_id": "63a4142b094bab5de7006c4d",
                          "dashboard_id": 78155,
                          "company_id": "i702619617",
                          "privs": [
                            {
                              "type": "delete",
                              "list_obj": [
                                "all"
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "delete": {
                    "summary": "delete",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "chart",
                          "dashboard_id": 78155,
                          "obj_id": "63a4142b094bab5de7006c4d"
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_10}/{SIGNATURE}": {
      "post": {
        "tags": [
          "charts_list"
        ],
        "summary": "json",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": null,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "title": "get"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "title": "get"
                    },
                    {
                      "$ref": "#/components/schemas/company-create-response-error"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_11}/{SIGNATURE}": {
      "post": {
        "tags": [
          "commit"
        ],
        "summary": "json",
        "operationId": "commit",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "SIGNATURE",
            "in": "path",
            "description": "Signature",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "<h3>Confirm</h3> Method for Process/State diagram deployment</br> <h3>Show</h3> Method for getting commit info</br> <h3>Delete</h3> Method for commit deletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "description": "The list of operations to perform via Corezoid API. This parameter stores JSON objects with operations.",
                    "items": {
                      "type": "object",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/commit-confirm-request"
                        },
                        {
                          "$ref": "#/components/schemas/commit-show-request"
                        },
                        {
                          "$ref": "#/components/schemas/commit-delete-request"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "confirm": "#/components/schemas/confirm-request",
                          "show": "#/components/schemas/show-request-15",
                          "delete": "#/components/schemas/delete-request-14"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "confirm": {
                  "summary": "confirm",
                  "value": {
                    "ops": [
                      {
                        "type": "confirm",
                        "obj": "commit",
                        "conv_id": 973630,
                        "company_id": "i702619617",
                        "version": 1667230068
                      }
                    ]
                  }
                },
                "delete": {
                  "summary": "delete",
                  "value": {
                    "ops": [
                      {
                        "obj": "commit",
                        "obj_id": 973630,
                        "obj_type": "conv",
                        "version": 1667230068,
                        "type": "delete"
                      }
                    ]
                  }
                },
                "show": {
                  "summary": "show",
                  "value": {
                    "ops": [
                      {
                        "type": "show",
                        "obj": "commit",
                        "obj_id": 1004849,
                        "obj_type": "conv",
                        "company_id": "i702619617",
                        "version": 1667294065
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_proc": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/request_proc"
                        }
                      ]
                    },
                    "ops": {
                      "type": "array",
                      "description": "The list of the request results",
                      "items": {
                        "type": "object",
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/commit-confirm-response"
                          },
                          {
                            "$ref": "#/components/schemas/commit-show-response"
                          },
                          {
                            "$ref": "#/components/schemas/commit-delete-response"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "proc",
                          "mapping": {
                            "ok (confirm)": "#/components/schemas/confirm-response",
                            "ok (show)": "#/components/schemas/show-response-16",
                            "ok (delete)": "#/components/schemas/delete-response-14",
                            "error": "#/components/schemas/response-error"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "confirm": {
                    "summary": "confirm",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj_id": 973630,
                          "obj_type": "conv",
                          "version": 1667230068
                        }
                      ]
                    }
                  },
                  "show": {
                    "summary": "show",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj": "commit",
                          "list": [
                            {
                              "obj_id": "6360dec1094bab1444009ae1",
                              "obj_type": 0,
                              "title": "",
                              "description": "",
                              "logics": [
                                {
                                  "type": "api_queue",
                                  "data": {},
                                  "data_type": {}
                                },
                                {
                                  "type": "go",
                                  "to_node_id": "6360deb756167c5cce009747"
                                }
                              ],
                              "semaphors": [],
                              "position": [
                                352,
                                220
                              ],
                              "extra": "{\"modeForm\":\"expand\",\"icon\":\"\"}",
                              "status": 1,
                              "conv_id": 1004849,
                              "user_id": 25130,
                              "create_time": 1667294602
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "delete": {
                    "summary": "delete",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "ok",
                          "obj_id": 973630,
                          "obj_type": "conv",
                          "version": 1667230068
                        }
                      ]
                    }
                  },
                  "error": {
                    "summary": "error",
                    "value": {
                      "request_proc": "ok",
                      "ops": [
                        {
                          "id": "",
                          "proc": "error",
                          "description": "Value is not valid. Value's byte_size is less than minimum allowed: 3",
                          "key": "phone",
                          "value": "dd"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/html": {
                "schema": {
                  "example": "The specified method is not allowed against this resource"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "text/html": {
                "schema": {
                  "example": "502 Bad Gateway"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/html": {
                "schema": {
                  "example": "Gateway Time-out"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/json/{API_LOGIN}/{GMT_UNIXTIME_12}/{SIGNATURE}": {
      "post": {
        "tags": [
          "commits"
        ],
        "summary": "json",
        "operationId": "commits",
        "parameters": [
          {
            "name": "API_LOGIN",
            "in": "path",
            "description": "Authorization login of your API key",
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "GMT_UNIXTIME",
            "in": "path",
            "description": "Request time, Unix timestamp (epoch time), or Greenwich time (GMT+0)",
[...]
